
h1
{
    text-align: center;

}
#first-column
{    
    background-color: #E5E6E4;
}
#second-column
{
    background-color: #CFD2CD;
}
#third-column
{
    background-color: #A6A2A2;
}
.image-1
{
    width:250px;
    height:200px;
}
.image-2
{
    width:250px;
    height:200px;
}
.image-3
{
    width:250px;
    height:200px;
}
.logo 
{
    width:200px;
    height:60px;  
}

h1
{
    text-align: center;
}
#first-column
{
    background-color: #E5E6E4;
}
#second-column
{
    background-color: #CFD2CD;
}
#third-column
{
    background-color: #A6A2A2;
}

.item-img {
    min-height: 200px;
}
.image-1
{
    width:250px;
    height:300px;
}
.image-2
{
    width:250px;
    height:300px;
}
.image-3
{
    width:250px;
    height:300px;
}
.image-4 
{
    width:250px;
    height:300px;
}
.image-5 
{
    width:250px;
    height:300px;
}
.image-6
{
    width:250px;
    height:300px;
}
.carousel-caption-d-none-d-md-block {
    color: black;
}

.anime-title {
    position: static;
    border: 2px;
    float:left;
}

.anime-genres {
    position: static;
    border: 2px;
    float:right;
}
.action-1
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-2
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-3
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-4
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-5
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-6
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-7
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-8
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-9
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-10
{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:300px;
    height:400px;
}
.action-page-body
{
    background-color: #CFD2CD;
}