h1 {
    text-align: center;
    color: black;
    font-size: 40;
}
li {
    /*color: navy;
    font-size: 26px;*/
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: yellow;
    padding: 
    margin: 

}
body { 
    background-color: 
}

}